@use '../abstracts/variables' as var;

body {
  background-image: url(../img/2d24a80e6440933b7cd007fd50c82fed.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  text-align: center;
  border-bottom: 2px solid var.$color-accent;
  background-color: var.$white;
  box-shadow: var.$box-shadow;
  padding: 1em 0;
  img {
    width: 20%;
  }
}

.contact {
  height: 100%;
  padding: 30vh 0;
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var.$white;
    box-shadow: var.$box-shadow;
    width: 30%;
    height: 100%;
    .contact-card {
      padding: 5;
      form {
        max-width: 100%;

        .btn {
          border: none;
          background-color: #808080;
          cursor: pointer;
          padding: 1em 2em;
          margin-bottom: 2em;
          border-radius: 5%;
          transition: 0.3 ease;
          &:hover {
            background-color: var.$white;
            box-shadow: var.$box-shadow;
            color: var.$white;
          }
        }

        div {
          display: flex;
          justify-content: space-between;
          margin: 1rem;
        }
      }
    }
}
